
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: white;
    /* font-family:'Oxygen Mono', monospace; */
    font-family:'Montserrat', monospace;
    color:black
}


/* header */
header {
    display: flex;
    height: 35px;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;   
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu li + li {
    padding-left: 10px;
}
/* header */

/* main  */
main {
    height: 750px;
    width: 95%;
    background-color: #FAFAFA;
    margin: 0 auto;
    display: flex;
    /* box-shadow: 3px 3px 30px #D1D1D1; */
    /* border-radius: 10px; */
}


#content-aside {
    background-color: #EB8E8E;
    height: 750px;
    width: 35%;
    /* border-radius: 10px 0px 0px 10px; */
}

#content-main {
    text-align: left;
    margin-left: 75px;
    margin-top: 170px;
}

#content-main h1 {
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 800;
    font-size: 100px;
}

#content-main p {
    width: 70%;
    padding-top: 10px;
}

#content-main ul {
    display: flex;
    padding-top: 20px;
}

#content-main li + li {
    padding-left: 10px;
}

#content-main a {
    color: black;
}

#btn {
    padding: 10px;
    margin-top: 20px;
    width: 130px;
    text-align: center;
    background-color: #EB8E8E;
    /* border-radius: 10px; */
    color: white;
}
/* main  */

/* habilidades  */
#habilidades {
    height: 350px;
    width: 95%;
    margin: 0 auto;
    margin-top: 35px;
    background-color: #FAFAFA;
    /* box-shadow: 3px 3px 30px #D1D1D1;
    border-radius: 10px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#habilidades h2 {
    /* text-align: left; */
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 700;
    font-size: 50px;
    color: #EB8E8E;
    /* margin-right: 200px; */
    width: 25%;
}

.conteiner-habilidades{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
}

.lista-habilidades h3 {
    margin-bottom: 10px;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 600;
    /* width:; */
}

/* .conteiner-habilidades div + div {
    margin-left: 80px;
} */
/* habilidades  */

/* work */
#work{
    height: 400px;
    width: 95%;
    margin: 0 auto;
    margin-top: 35px;
    background-color: #FAFAFA;
    /* box-shadow: 3px 3px 30px #D1D1D1;
    border-radius: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#content-work {
    width: 50%;
    margin: 0 auto; 
    /* margin-top: 70px;   */
}

#content-work h2 {
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 700;
    font-size: 50px;
    color: #EB8E8E;
    margin-bottom: 20px;
}

#content-work p {
    width: 65%;
    margin-bottom: 20px;
}

#content-work a {
    padding-right: 20px;
    color: black;
}

#content-aside-work {
    background-color: #EB8E8E;
    /* border-radius: 0px 10px 10px 0px; */
    height: 400px;
    width: 470px;
}

.content-projects {
    color: white;
    text-align: center;
    margin-top: 80px;
}

.content-projects h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.content-projects a {
    color: white;
}

.content-projects li {
  margin-bottom: 15px;
}
/* works  */

/* contact  */
#contact{
    height: 350px;
    width: 95%;
    margin: 0 auto;
    margin-top: 35px;
    background-color: #FAFAFA;
    /* box-shadow: 3px 3px 30px #D1D1D1;
    border-radius: 10px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conteiner-contact {
    width: 40%;
}

#contact h2 {
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 700;
    font-size: 50px;
    color: #EB8E8E;
    width: 35%;
    /* margin-left: 120px; */
}

#email {
    color: black;
}
/* contact  */

/* footer  */
footer{
    display: flex;
    height: 50px;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: black;
}
/* footer  */

/* about me */

/* media queries */
@media screen and (max-width: 1024px) { 
	main {
        flex-direction: column;
    }

    #content-aside {
        background-color: #EB8E8E;
        height: 200px;
        width: 100%;
        /* border-radius: 10px 10px 0px 0px; */
    }

    #content-main {
        margin-top: 40px;
        /* text-align: center; */
        /* margin: 0px; */
        /* margin: 0 auto; */
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }

    /*  habilidades */
    #habilidades {
        flex-direction: column;
        /* justify-content: space-evenly; */
    }
	
    #habilidades h2 {
        width: 100%;
        font-size: 40px;
        text-align: center;
    }

    /*  work */
    #work {
        flex-direction: column;
        height: 600px;
        padding-top: 20px;
    }

    #content-work {
        text-align: center;
    }

    #content-work h2 {
        font-size: 40px; 
    }

    #content-work p {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 15px;
    }

    #content-aside-work {
        background-color: #EB8E8E;
        /* border-radius: 0px 0px 10px 10px; */
        height: 300px;
        width: 100%;
    }
    .content-projects {
        margin-top: 40px;
    }

    /*  contato */
    #contact{
        flex-direction: column;
        justify-content: center;
    }

    .conteiner-contact {
        text-align: center;
    }
    
    #contact h2 {
        font-size: 40px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .conteiner-contact {
        width: 70%;
    }

}

@media screen  and (max-width: 700px) {
    main {
        width: 100%;
    }
    
    #habilidades {
        height: 600px;
        width: 100%;
        justify-content: center;
        /* align-items:inherit; */
        /* flex-wrap: wrap; */
    }

    #habilidades h2 {
        font-size: 30px; 
        /* text-align: left; */
    }

    .conteiner-habilidades{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }    

    .lista-habilidades {
        margin-top: 30px;
    }
}