
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family:'Oxygen Mono', monospace;;
    color:black
}

/* header */

header{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 20px;
    align-items: center;
}

.menu {
    display: flex;   
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu li + li {
    padding-left: 10px;
}

/* header */

/* main  */

#content-main{
    position: absolute;
    text-align: center;
    top: 250px; 
    left: 0;
    right: 0;
    color:black;
}

#background-main{
    height: 100vh;
    width: 50%;
    background-color: #F8BFE7;
}

#content-main p {
    width: 35%;
    margin: 0 auto;
    padding-top: 20px;
}

/* main  */

/* habilidades  */

#habilidades {
    height: 400px;
    background-color: #FFF5BF;
}

#habilidades h2 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.conteiner-habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.conteiner-habilidades .lista-habilidades + .lista-habilidades{
    padding-left: 30px;
}

.lista-habilidades h3 {
    padding-bottom: 5px;
    border-bottom: solid black 1.5px;
    margin-bottom: 20px;
    width: 200px;
}

/* habilidades  */

/* works  */

#work{
    height: 500px;
}

#work h2{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto; 
    text-align: center;
    margin-top: 70px;
    padding-bottom: 50px;
}

.conteiner-work{
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto; 
    margin-top: 200px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.paragrafo{
    display: flex;
}

.conteiner-work p {
    width: 25%;
}

.links {
    display: flex;
    flex-direction: column;
}

#background-work{
    height: 500px;
    width: 50%;
    background-color:#D6DAF5;
    float: right;
}

/* contact  */

#contact{
    height: 300px;
    background-color: #DBFCEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.conteiner-contact p {
    width: 50%;

}

#contact h2 {
    text-align: center;
    padding-bottom: 40px;
}

/* footer  */

footer{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
